<%- include('../partials/header') -%>
<h1 class="text-center mt-5 mb-3">New Password</h1>
<% if (messages.error) { %>
    <div class="alert alert-danger p-0 error text-center" role="alert">
        <h4 class="fs-6"> <%= messages.error %> </h4>
      </div>
<% } %>
<% if (messages.success) { %>
    <div class="alert alert-success p-0 error text-center" role="alert">
        <h4 class="fs-6"> <%= messages.success %> </h4>
      </div>
<% } %>
<div class="container w-25">
    
    <form action="/reset/<%=token%>" method="POST">

        <div class="form-group px-0">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group px-0">
            <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password">
        </div>

        <button type="submit" class="btn btn-danger btn-block">Change Password</button>
    </form>
</div>


</div>

<%- include('../partials/footer') -%>